body {
	color: red;
	text-shadow: 1px;
	font-family: Papyrus;
	background-image:url(../images/psychic.jpg);
	background-repeat:repeat-y;
	background-color:black;
	float:right;
	border-style: groove;
	border-color: lightblue;

}


h1 {
    color: white;
    text-shadow: 1px 1px 2px blue, 0 0 25px blue, 0 0 5px lightblue;
    text-align:center;
}

